<h2>New PC</h2>
<h4 *ngIf="statusName == true">{{name}}</h4>

<div class= "message success" *ngIf="status == 'success'">
    The character has been created successfully
</div>
<div class= "message failed" *ngIf="status == 'failed'">
    The character hasn't been created 
</div>


<form #PCForm="ngForm" >
    <p>
        <label for="name">Name</label>
        <input type="text" name="name" #name="ngModel" [(ngModel)]="character.name"required/>
        <span class="form_error" *ngIf="name.touched && !name.valid">
            The character needs a name
        </span>
    </p>
    <p>
        <label for="background">Write a background for your character</label>
        <textarea  name="background" #background="ngModel" [(ngModel)]="character.background"></textarea>
        
    </p>
    <p>
        <label for="description">Describe your character</label>
        <textarea  name="description" #description="ngModel" [(ngModel)]="character.description"></textarea>
        
    </p>
    <p>
        <label for="img">Image</label>
    </p>
    <p>
        <label for="backgroundKind">Select your background</label>
        <ul>
            <li>
                <button (click)="getBackgroundKind('Balanced')">Balanced</button>
            </li>
        </ul>

        <!--<input list="backgroundKind" name="backgroundKind" #backgroundKind="ngModel" [(ngModel)]="character.backgroundKind" (click)="getBackgroundKind(5f4fa433bcc3c5148885305c)">
        <datalist id="backgroundKind">
          <option value="Balanced">
          <option value="Complicated story" >
          <option value="Relevant story">
          <option value="Complicated community">
          <option value="Strong community">
        </datalist>-->
        <div class="backgroundKindShow" *ngIf= "backgroundKind.stats >= 0">
            <p>
                You have {{backgroundKind.stats}}d6 for asing to stats<br>
                You have for your treats:
                <ul>
                    <li *ngIf="treats[0] != 0">{{treats[0]}}d4</li>
                    <li *ngIf="treats[1] != 0">{{treats[1]}}d6</li>
                    <li *ngIf="treats[2] != 0">{{treats[2]}}d8</li>
                    <li *ngIf="treats[3] != 0">{{treats[3]}}d10</li> 
                </ul>
                And for your relatioships:
                <ul>
                    <li *ngIf="relatioships[0] != 0">{{relatioships[0]}}d4</li>
                    <li *ngIf="relatioships[1] != 0">{{relatioships[1]}}d6</li>
                    <li *ngIf="relatioships[2] != 0">{{relatioships[2]}}d8</li>
                    <li *ngIf="relatioships[3] != 0">{{relatioships[3]}}d10</li> 
                </ul>
        </div>

        
    
    <input type="submit" value="Create" (ngSubmit)= "onSubmit(PCForm)" />

</form>
