<p >play-screen works!</p>
<br>
<div id=screen>
    <div *ngFor="let dice of diceAdded">
    <button type="button" class="btn btn-light" id="dice"  name="dices" *ngIf= "dice.name != undefined" >
        {{dice.name}} {{dice.number}}{{dice.dice}}
    </button>
    
    </div>
</div>
<br>
<button type="button" class="btn btn-danger" value="Roll" (click)="rollDice()">Roll</button>
<div id=screen>
    <td *ngFor="let number of result">
        <button type="button" class="btn btn-light" id="dice">
            {{number}}
        </button>
    </td>
<br>
