<div class=start>

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="http://localhost:4200/start">Dogs in the Vineyard</a>
        <a></a><a></a><a></a><a></a><a></a><a></a><a></a><a></a><a></a><a></a><a></a><a></a><a></a><a></a><a></a>
        
            
     
        <button class="btn btn-danger float-right" type="button" [routerLink]="['/new-game']" [routerLinkActive]= "['actived']">
           New Game
          </button>
          <button class="btn btn-danger float-right" type="button" [routerLink]="['/']" [routerLinkActive]= "['actived']">
            Log Out
           </button>
      </nav>

    <div class="container">
        <br>
        <h2>Games</h2>
    
        <div class="list-group">
            <a href="http://localhost:4200/list-pc" class="list-group-item list-group-item-action" *ngFor="let game of games">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{game.name}}</h5>
                <small>{{game.numPlayers}} players</small>
              </div>
              <p class="mb-1">{{game.sinopsis}}</p>
              <small>{{game.master}}</small>
            </a>

    </div>
</div>
<br>