

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="http://localhost:4200/start">Dogs in the Vineyard</a>
    <a></a><a></a><a></a><a></a><a></a><a></a><a></a><a></a><a></a><a></a><a></a><a></a><a></a><a></a><a></a>
    
        
    <button class="btn btn-danger float-right" type="button" [routerLink]="['/new-character']" [routerLinkActive]= "['actived']">
      New Character
     </button>
    <button class="btn btn-danger float-right" type="button" [routerLink]="['/list-pc']" [routerLinkActive]= "['actived']">
       Back
      </button>
      <button class="btn btn-danger float-right" type="button" [routerLink]="['/']" [routerLinkActive]= "['actived']">
        Log Out
       </button>
  </nav>
<br>
  <div class=container >
    <a  *ngFor="let item of characters">
        <button class="btn btn-danger" (click)="getCharacter(item.name)">{{item.name}}</button></a>

        <br>
       
        <ul class="list-group">
            
            <li class="list-group-item">{{characterSelected.description}}</li>
            <li class="list-group-item">{{characterSelected.background}}</li>
        </ul>
        <br>
        <!--Stats-->
        <table class="table" id="tableStats">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Stat</th>
                <th scope="col">Dice</th>
                </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Acuity</th>
                <td>{{characterSelected.acuity}}d6</td>
                <td><button class="btn btn-danger" (click)="addDiceStat('Acuity', characterSelected.acuity)">Add</button></td>
               
              </tr>
              <tr>
                <th scope="row">Body</th>
                <td>{{characterSelected.body}}d6</td>
                <td><button class="btn btn-danger" (click)="addDiceStat('Body', characterSelected.body)">Add</button></td>
              </tr>
              <tr>
                <th scope="row">Heart</th>
                <td>{{characterSelected.heart}}d6</td>
                <td><button class="btn btn-danger" (click)="addDiceStat('Heart', characterSelected.heart)">Add</button></td>
              </tr>
              <tr>
                <th scope="row">Will</th>
                <td>{{characterSelected.will}}d6</td>
                <td><button class="btn btn-danger" (click)="addDiceStat('Will', characterSelected.will)">Add</button></td>
              </tr>
            </tbody>
          </table>
          

          <!--Traits-->
          <h2>Traits</h2>
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Dice</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let yes of traits">
                <th scope="row" *ngIf="yes.name != ''">{{yes.name}}</th>
                <td *ngIf="yes.name != ''">{{yes.number}}{{yes.dice}}</td>
                <td *ngIf="yes.name != ''"><button class="btn btn-danger" (click)="addDice(yes.name, yes.number, yes.dice)">Add</button></td>
              
              </tr>
              
            </tbody>
          </table>

          <!--Relationships-->
          <h2>Relationships</h2>
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Dice</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let people of relationships">
                <th scope="row" *ngIf="people.name != ''">{{people.name}}</th>
                <td *ngIf="people.name != ''">{{people.number}}{{people.dice}}</td>
                <td *ngIf="people.name != ''"><button class="btn btn-danger" (click)="addDice(people.name, people.number, people.dice)">Add</button></td>
              
              </tr>
              
            </tbody>
          </table>
          <app-play-screen [nombre]="characterSelected"></app-play-screen>
          
    </div>

