

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="http://localhost:4200/start">Dogs in the Vineyard</a>
    <a></a><a></a><a></a><a></a><a></a><a></a><a></a><a></a><a></a><a></a><a></a><a></a><a></a><a></a><a></a>
    
        
    <button class="btn btn-danger float-right" type="button" [routerLink]="['/new-character']" [routerLinkActive]= "['actived']">
      New Character
     </button>
    <button class="btn btn-danger float-right" type="button" [routerLink]="['/list-pc']" [routerLinkActive]= "['actived']">
       Back
      </button>
      <button class="btn btn-danger float-right" type="button" [routerLink]="['/']" [routerLinkActive]= "['actived']">
        Log Out
       </button>
  </nav>
<br>
  <div class=container >
    <a  *ngFor="let item of characters">
        <button class="btn btn-danger" (click)="getCharacter(item.name)">{{item.name}}</button></a>

        <br>
       
        <ul class="list-group">
            
            <li class="list-group-item">{{characterSelected.description}}</li>
            <li class="list-group-item">{{characterSelected.background}}</li>
        </ul>
        <br>
        <!--Stats-->
        <table class="table" id="tableStats">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Stat</th>
                <th scope="col">Dice</th>
                </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Acuity</th>
                <td>{{characterSelected.acuity}}d6</td>
                <td><button class="btn btn-danger" (click)="addDiceStat('Acuity', characterSelected.acuity)">Add</button></td>
               
              </tr>
              <tr>
                <th scope="row">Body</th>
                <td>{{characterSelected.body}}d6</td>
                <td><button class="btn btn-danger" (click)="addDiceStat('Body', characterSelected.body)">Add</button></td>
              </tr>
              <tr>
                <th scope="row">Heart</th>
                <td>{{characterSelected.heart}}d6</td>
                <td><button class="btn btn-danger" (click)="addDiceStat('Heart', characterSelected.heart)">Add</button></td>
              </tr>
              <tr>
                <th scope="row">Will</th>
                <td>{{characterSelected.will}}d6</td>
                <td><button class="btn btn-danger" (click)="addDiceStat('Will', characterSelected.will)">Add</button></td>
              </tr>
            </tbody>
          </table>
          

          <!--Traits-->
          <h2>Traits</h2>
          
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Dice</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" *ngIf="traits[0].name != ''">{{traits[0].name}}</th>
                <td *ngIf="traits[0].name != ''">{{traits[0].number}}{{traits[0].dice}}</td>
                <td *ngIf="traits[0].name != ''"><button class="btn btn-danger" (click)="addDiceTrait(traits[0].name, traits[0].number, traits[0].dice)">Add</button></td>
              </tr>
              <tr> 
                <th scope="row" *ngIf="traits[1].name != ''">{{traits[1].name}}</th>
                <td *ngIf="traits[1].name != ''">{{traits[1].number}}{{traits[1].dice}}</td>
                <td *ngIf="traits[1].name != ''"><button class="btn btn-danger" (click)="addDiceTrait(traits[1].name, traits[1].number, traits[1].dice)">Add</button></td>
              </tr>
              <tr>  
                <th scope="row" *ngIf="traits[2].name != ''">{{traits[2].name}}</th>
                <td *ngIf="traits[2].name != ''">{{traits[2].number}}{{traits[2].dice}}</td>
                <td *ngIf="traits[2].name != ''"><button class="btn btn-danger" (click)="addDiceTrait(traits[2].name, traits[2].number, traits[2].dice)">Add</button></td>
              </tr>
              <tr>   
                <th scope="row" *ngIf="traits[3].name != ''">{{traits[3].name}}</th>
                <td *ngIf="traits[3].name != ''">{{traits[3].number}}{{traits[3].dice}}</td>
                <td *ngIf="traits[3].name != ''"><button class="btn btn-danger" (click)="addDiceTrait(traits[3].name, traits[3].number, traits[3].dice)">Add</button></td>
              </tr>
              <tr>  
                <th scope="row" *ngIf="traits[4].name != ''">{{traits[4].name}}</th>
                <td *ngIf="traits[4].name != ''">{{traits[4].number}}{{traits[4].dice}}</td>
                <td *ngIf="traits[4].name != ''"><button class="btn btn-danger" (click)="addDiceTrait(traits[4].name, traits[4].number, traits[4].dice)">Add</button></td>
              
              </tr>
            
              
            </tbody>
          </table>
          

          <!--Relationships-->
          <h2>Relationships</h2>
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Dice</th>
        
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" *ngIf="relationships[0].name != ''">{{relationships[0].name}}</th>
                <td *ngIf="relationships[0].name != ''">{{relationships[0].number}}{{relationships[0].dice}}</td>
                <td *ngIf="relationships[0].name != ''"><button class="btn btn-danger" (click)="addDiceTrait(relationships[0].name, relationships[0].number, relationships[0].dice)">Add</button></td>
              </tr>
              <tr> 
                <th scope="row" *ngIf="relationships[1].name != ''">{{relationships[1].name}}</th>
                <td *ngIf="relationships[1].name != ''">{{relationships[1].number}}{{relationships[1].dice}}</td>
                <td *ngIf="relationships[1].name != ''"><button class="btn btn-danger" (click)="addDiceTrait(relationships[1].name, relationships[1].number, relationships[1].dice)">Add</button></td>
              </tr>
              <tr>  
                <th scope="row" *ngIf="relationships[2].name != ''">{{relationships[2].name}}</th>
                <td *ngIf="relationships[2].name != ''">{{relationships[2].number}}{{relationships[2].dice}}</td>
                <td *ngIf="relationships[2].name != ''"><button class="btn btn-danger" (click)="addDiceTrait(relationships[2].name, relationships[2].number, relationships[2].dice)">Add</button></td>
              </tr>
              <tr>   
                <th scope="row" *ngIf="relationships[3].name != ''">{{relationships[3].name}}</th>
                <td *ngIf="relationships[3].name != ''">{{relationships[3].number}}{{relationships[3].dice}}</td>
                <td *ngIf="relationships[3].name != ''"><button class="btn btn-danger" (click)="addDiceTrait(relationships[3].name, relationships[3].number, relationships[3].dice)">Add</button></td>
              </tr>
              <tr>  
                <th scope="row" *ngIf="relationships[4].name != ''">{{relationships[4].name}}</th>
                <td *ngIf="relationships[4].name != ''">{{relationships[4].number}}{{relationships[4].dice}}</td>
                <td *ngIf="relationships[4].name != ''"><button class="btn btn-danger" (click)="addDiceTrait(relationships[4].name, relationships[4].number, relationships[4].dice)">Add</button></td>
              
              </tr>
            
              
            </tbody>
          </table>
          <input type="submit" (click)="onSubmit()" value="Send" >
          <app-play-screen [statAdded]="statAdded" [traitsAdded]="traitsAdded" [relationshipsAdded]="relationshipsAdded" [diceAdded]= "diceAdded"></app-play-screen>
          
    </div>

